* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #864896;
}

.hiperlink{
    background-color: black;
    display: flex;
    color: white;
    justify-content: space-between;
    font-size: x-large;
    height: 200px;
}

.hiperlink random{
 
   align-items: center;
}

.cabeçalho{
    margin-left: 425px;
    margin-top: 153px;
    margin-bottom: 55px;
}

.container{
    display:flex;
    background-color: #ba4d95;
    height: 187px;
    width: 100%;
    margin-bottom: 600px;
    color: white;
    font-size: 35px;
    border-color: white 25px;
}

.findebutton{
 
    margin-left: 500px;

}

.titulocontainer{
 display: flex;
 margin-left: 200px;
 padding: 55;

}

.carrosel{
    display: flex;
    justify-content: center;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 400px;
}

header{
    text-align: center;
}
