* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.hiperlink{
    display: flex;
    margin-top: 125px;
    margin-left: 50px;
    color: white;
    justify-content: flex-start;
    justify-content: space-evenly;
        
}

.cabeçalho{
    margin-left: 425px;
    margin-top: 153px;
    margin-bottom: 55px;
}

.container{
    display:flex;
    background-color: blue;
    height: 125px;
    width: 1900px;
    margin-bottom: 600px;
    color: white;
    font-size: 35px;
}

.findebutton{
 
    margin-left: 1000px;

}

.titulocontainer{
 display: flex;
 margin-left: 200px;
 padding: 55;

}
.container input{

}
